body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #74ebd5, #9face6);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#weatherview{
     width: 100%;
    max-width: 260px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    margin-top: 15px;
}

.app {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #43a047;
}

.hidden {
    display : none;
}

#weatherContainer {
    margin-top: 20px;
}